@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  animation: fade-in 350ms;
}

html {
  scroll-behavior: smooth;
}

i {
  scale: 1.4;
}

.exp-card {
  transition: scale 200ms ease-in-out;
}

.exp-card:hover {
  scale: 1.05;
}

#intro-hero-image {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
